body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative; /* Asegura que el posicionamiento relativo funcione correctamente */
    background-image: url('Data-analyst.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0025); /* Color de fondo semi-transparente */
}

header, nav, section, footer {
    margin: 20px;
}

header h1, nav ul {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

section {
    margin-top: 50px;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: olive;
}

h2 {
    color: forestgreen;
}

h3 {
    color: lightsalmon;
}

body, p {
    color: rgb(0, 0, 0);
    font-weight: bold; /* Negrita*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra*/
}

a, nav ul li {
    color: lightblue;
}

.project a {
    display: block;
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}